<% layout('/layouts/boilerplate') -%>
    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <h3 class="my-3">
                    <%= listing.title %>
                </h3>
            </div>
            <div class="card col-6 offset-2 listing-card">
                <img src=<%=listing.image.path %> class="card-img-top w-100" alt="Listing Image">
                <div class="card-body">
                    <p class="card-text fs-6">Owned by <i>
                            <%= listing.owner.username %>
                        </i></p>
                    <p class="card-text fs-6">
                        <%= listing.description %>
                    </p>
                    <p class="card-text fs-6"> &#8377; <%= listing.price.toLocaleString("en-IN") %>
                    </p>
                    <p class="card-text fs-6">
                        <%= listing.location %>
                    </p>
                    <p class="card-text fs-6">
                        <%= listing.country %>
                    </p>
                </div>
            </div>
        </div>

        <% if(currUser && currUser._id.equals(listing.owner._id)) { %>
            <div class="col-6 offset-2">
                <div class="d-flex flex-row justify-content-center gap-2 w-100 mx-auto mb-4">
                    <form action="/listings/<%= listing._id %>/edit" method="get" class="w-50">
                        <button class="btn btn-dark w-100">Edit</button>
                    </form>
                    <form action="/listings/<%= listing._id %>/delete" method="get" class="w-50">
                        <button class="btn btn-danger w-100">Delete</button>
                    </form>
                </div>
            </div>
            <% } %>
            <% if(currUser) { %>
                <div class="col-6 offset-2">
                        <hr>
                        <h3 class="mb-3">Leave a Review</h3>
                        <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate
                            class="needs-validation">

                            <div>
                                <label for="rating" class="form-label">Rating :</label>
                                <fieldset class="starability-slot">
                                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]"
                                        value="0" checked aria-label="No rating." />

                                    <input type="radio" id="rate1" name="review[rating]" value="1" />
                                    <label for="rate1">1 star.</label>

                                    <input type="radio" id="rate2" name="review[rating]" value="2" />
                                    <label for="rate2">2 stars.</label>

                                    <input type="radio" id="rate3" name="review[rating]" value="3" />
                                    <label for="rate3">3 stars.</label>

                                    <input type="radio" id="rate4" name="review[rating]" value="4" />
                                    <label for="rate4">4 stars.</label>

                                    <input type="radio" id="rate5" name="review[rating]" value="5" />
                                    <label for="rate5">5 stars.</label>

                                    <span class="starability-focus-ring"></span>
                                </fieldset>
                            </div>

                            <div class="mb-3">
                                <label for="comment">Comments :</label>
                                <textarea rows="4" cols="30" name="review[comment]" id="comment"
                                    class="form-control mt-2" required></textarea>
                                <div class="invalid-feedback">Please add some comment.</div>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-outline-dark">Submit</button>
                            </div>
                        </form>
                        <hr>
                    </div>
                    <% } %>

                    <% if(listing.reviews.length > 0) { %>
                        <div class="col-6 offset-2 ">
                            <h3>All Reviews</h3>
                            <div class="row">
                                <% for(let review of listing.reviews) { %>
                                    <div class="card col-5 ms-3 my-2 p-2 mx-auto">
                                        <div class="card-body mb-3">
                                            <h5 class="card-title">@<%= review.author.username %>
                                            </h5>
                                            <p class="starability-result" data-rating="<%= review.rating %>">
                                                <%= review.rating %>
                                            </p>
                                            <p class="my-3">
                                                <i class="card-text">
                                                    <%= review.comment %>
                                                </i>
                                            </p>
                                            <p class="card-text"><small>
                                                    <%= review.createdAtFormatted %>
                                                </small></p>
                                        </div>
                                        <div>
                                            <% if(currUser && currUser._id.equals(review.author._id)) { %>
                                                <form
                                                    action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
                                                    method="POST">
                                                    <!-- <button class="btn btn-sm btn-dark">Edit</button> -->
                                                    <button class="btn btn-sm btn-dark">Delete</button>
                                                </form>
                                                <% } %>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                    <% } %>
                        
    </body>